<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--引入图片服务器url地址-->
    <context:property-placeholder location="classpath:conf/resource.properties"/>

    <context:component-scan base-package="cn.e3mall.sso.controller"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--两个组件DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter-->
    <!-- 注册HandlerMapper、HandlerAdapter两个映射类 -->
    <!-- 启用默认配置  conversion-service用于配置自定义转换器-->
    <mvc:annotation-driven/>

    <!--访问静态资源-->
    <mvc:default-servlet-handler/>

    <!-- 引用dubbo服务 -->
    <dubbo:application name="e3-sso-web"/>
    <dubbo:registry protocol="zookeeper" address="47.107.243.254:2181"/>

    <dubbo:reference interface="cn.e3mall.sso.service.RegisterService" id="registerService"/>
    <!--<dubbo:reference interface="cn.e3mall.service.ItemCatService" id="itemCatService" />-->

</beans>